.todoList {
  margin-top: 1rem;
}

.todoItem {
  background: var(--gray-500);
  border: 1px solid var(--gray-400);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.75rem;
  padding: 1rem;
}

.todoItem + .todoItem {
  margin-top: 0.75rem;
}

.todoItem .todoControl {
  display: flex;
  gap: 0.75rem;
}

.todoItem label {
  font-family: Inter, sans-serif;
  font-size: 0.875rem;
  line-height: 140%;
  color: var(--gray-100);
}

.todoItem input[type='checkbox']:checked + label {
  text-decoration: line-through;
  color: var(--gray-300);
}

.todoItem button {
  all: unset;
  border: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
  cursor: pointer;
  border-radius: 4px;
  padding: 0.25rem;
}

.todoItem button > svg {
  color: var(--gray-300);
}

.todoItem button:focus,
.todoItem button:hover {
  background: var(--gray-400);
}

.todoItem button:focus > svg,
.todoItem button:hover > svg {
  color: var(--danger);
}
