.todoList {
  margin-top: 1rem;
}

.todoItem {
  background: var(--gray-300);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.todoItem + .todoItem {
  margin-top: 0.75rem;
}

.todoItem .todoControl {
  display: flex;
  gap: 0.75rem;
}

.todoItem label {
  font-family: Inter, sans-serif;
  font-size: 1rem;
  color: var(--gray-700);
}

.todoItem input[type='checkbox']:checked + label {
  text-decoration: line-through;
}

.todoItem button {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: var(--primary-dark);
  border: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
}
