:root {
  --primary: #4ea8de;
  --primary-dark: #1e6f9f;

  --secondary: #8284fa;
  --secondary-dark: #5e60ce;

  --gray-100: #f2f2f2;
  --gray-200: #d9d9d9;
  --gray-300: #808080;
  --gray-400: #333333;
  --gray-500: #262626;
  --gray-600: #1a1a1a;
  --gray-700: #0d0d0d;

  --danger: #e25858;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  background: var(--gray-500);
}
